<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<title>Admin Home - Tailor Management System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/adminCSS/adminHome.css}">
</head>
<body>
	
	
    <header>
        <div class="logo">
			<img src=""th:src="@{/photos/tailor logo.png}"style="height:100px; width:190px;">
		</div>
        <nav>
            <ul>
				<li><a th:href="@{/adminHome}">Home</a></li>
                <li><a th:href="@{/adminHome/users}">Users</a></li>
                <li><a th:href="@{/adminHome/orders}">Orders</a></li>
               
                <li><a th:href="@{/adminHome/appointments}">Appointments</a></li>
				<li style="padding-left: 70px;"><a th:href="@{/login}">Login /</a><a th:href="@{/register}"> Register</a></li>
            </ul>
        </nav>
    </header>

	
	
    <section class="front-home-Div">
        <h1>Welcome Back!!</h1>
        <p>It's Show Time</p>
    </section>
	
	
	

    <section id="services">
        <h2> World's renowned finest customized tailoring, for those who appreciate the grandeur of style.</h2>
		<div class="service-flex">
           <div class="service">
              <h3>SERVICES</h3>
              <p >--> Tailor-made clothes for men and women within 24 hrsS</p>
			  <p >--> Widest selection of fabrics</p>
			  <p >--> Tuxedo rental & alteration services</p>
          </div>
         <div class="service">
            <h3>MAIN BRANCH</h3>
            <p >#04-00 Atrium Lobby</p>
			<p >ParkRoyal Collection Marina Bay</p>
			<p >Singapore 039594</p>
			<p >Tel: +65-63365501</p>
         </div>
       </div>
    </section>
	
	
	
	
	

	
	<footer class="footer">
		<div class="footer-container">
	       <div class="contact-us">
	           <h2>CONTACT US NOW</h2>
	           <p><img src=""th:src="@{/photos/miniFONTS/phoneICON.png}" style="height: 25px; width: 25px; border-radius: 50%;">  456-7890 / (987) 654-3210</p>
	           <a href=""><img src=""th:src="@{/photos/miniFONTS/emailICON.jpg}" style="height: 25px; width: 25px; border-radius: 50%;">  info@Maharajas.com</a>
	       </div>
			   <div class="address">
	           <p><img src=""th:src="@{/photos/miniFONTS/locationFONT.jpg}" style="height: 25px; width: 25px; border-radius: 50%;">  Hattisar, Kamalpokhari, Goodwill Finance Building, Kathmandu</p>
			   </div>
		</div>	
	 </footer>
	 
	 
	 
	 
	   <div class="footer-text">
		<p>All contents © copyright 1999-2020 Maharajas Tailors. All rights reserved.Unauthorized use, and/or duplication of this material without express and written permission from this websites author and/or owner is strictly prohibited.
		   Excerpts and links may be used, provided that full and clear credit is given to Maharajas Tailors Singapore with appropriate and specific direction to the original content.</p>
		 </div>   
	   </body>
</html>