<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us - Tailor Management System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/aboutUsStyle.css}">
</head>
<body>


    <header>
        <div class="logo">
			<img src=""th:src="@{/photos/tailor logo.png}"style="height:100px; width:190px;">
		</div>
        <nav>
            <ul>
				<li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/aboutUs}">About Us</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/measurements}">Measurements</a></li>
				<li style="padding-left: 70px;"><a th:href="@{/login}">Login /</a><a th:href="@{/register}"> Register</a></li>
            </ul>
        </nav>
    </header>

	
	<section id="below-nav">
		<p> Appreciate the grandeur of<br> style.</p>
	</section>
	
	
	
	
	
	
	
	<section id="about-us">
			<h2>ABOUT US</h2>
		<div class="aboutUS-wrapper">
		   <div class="information-history">
			<p>Established in 1958, Maharaja’s Custom Tailors is the first few tailors in Singapore to offer custom-tailored suits and shirts. Our experienced and knowledgeable tailors are meticulous in their workmanship and quality control. Soon, good suits and shirts became the trademark of the Maharaja’s brand.</p>
			<p>Maharaja's Custom Tailors carries an extensive selection of fabrics in a wide range of styles for clients to choose from.Our collection includes fabrics such as wool, wool-cashmere, silk, cotton, Egyptian cotton, linen, corduroy, etc, from England, Italy, France, Germany and various parts of the world. By dealing with our highly experienced consultants, you can be assured to receive the very best advice on the fabrics and style for your custom-made suits.</p>
			<p>Over the years, Maharaja’s has grown to become one of the most established tailors in Singapore and has built a reputation in the tailoring industry. Our flagship stores are conveniently located at the prestigious Claymore Connect and the ParkRoyal Collection Marina Bay.</p>
		</div>
		<div class="information-history2">
			<p>Our wide range of specialized services include exquisite and quality tailoring services for both gents and ladies, as well as value added services such as mail order service, alteration services, delivery services and pickup services.At Maharaja’s, we stress on superior quality and workmanship by our professional tailors at reasonable prices.</p>
			<p>We have served many foreign ambassadors and celebrities and are highly recommended by foreign embassies of France, Germany, Netherlands and Spain. We are recommended by foreign trade travel magazines as a major clothing destination.</p>
		   </div>
		</div>
	</section>
	
	
	
	
	
	
	
	<section id="experience">
		<div class="tailor-experience">
			   <div class="just-a-pic"></div>
			   
			<div class="tailor-history">
				<h2>OUR TAILORS</h2>
				           <p>Mr Bob Amarnani is one of Singapore’s leading tailor with over 30 years of experience with mens’ and ladies bespoke tailoring. To ensure the perfect fit, Mr Bob takes more than 28 body measurements. With a style of your choice, the perfect suit is stitched. Mr Bob has delivered perfectly fitting garments to over thousands of customers from various countries in his many years in the business, and will be happy to provide references and recommendations.</p>
				           <p>Mr Mohan Amarnani has great experience in bespoke tailoring for gents and ladies. Mr Mohan pays great attention to detail, from the fineness of its stitching to the perfectly engineered fit of the suit. With a deep understanding of style and bespoke tailoring, Mr Mohan provides advice on clothing styles that would best meet your needs. His dedication has won him satisfied customers locally and internationally.</p>
			  </div>
			</div>
	</section>	
	
	
	
	
	
	
	<section id="collection-container">
		           <div class="collection-content2">
						 <div class="collection-content-text">
							<h2>PROMOTION</h2>
							<p>Get your gift vouchers today from Maharaja's Tailors and present <br>them to your family,  
								friends and business associates and let them start building up their collection.</p>
						 </div>
					</div>
				<div class="collection-content">
					<p></p>
				</div>
				
				<div class="collection-container-pic"></div>
			</section>
			
			
			
			
			
			
			
	
	<footer class="footer">
			<div class="footer-container">
		       <div class="contact-us">
		           <h2>CONTACT US NOW</h2>
		           <p><img src=""th:src="@{/photos/miniFONTS/phoneICON.png}" style="height: 25px; width: 25px; border-radius: 50%;">  456-7890 / (987) 654-3210</p>
		           <a href=""><img src=""th:src="@{/photos/miniFONTS/emailICON.jpg}" style="height: 25px; width: 25px; border-radius: 50%;">  info@Maharajas.com</a>
		       </div>
				   <div class="address">
		           <p><img src=""th:src="@{/photos/miniFONTS/locationFONT.jpg}" style="height: 25px; width: 25px; border-radius: 50%;">  Hattisar, Kamalpokhari, Goodwill Finance Building, Kathmandu</p>
				   </div>
			</div>	
		 </footer>
		 
		 
		 
		 
		   <div class="footer-text">
			<p>All contents © copyright 1999-2020 Maharajas Tailors. All rights reserved.Unauthorized use, and/or duplication of this material without express and written permission from this websites author and/or owner is strictly prohibited.
			   Excerpts and links may be used, provided that full and clear credit is given to Maharajas Tailors Singapore with appropriate and specific direction to the original content.</p>
			 </div>   
</body>
</html>