body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: black;
	}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
	font-size: 25px;
	font-family: cursive;
}
nav ul li a:hover{
	color: gold;
}





.front-home-Div{
	background-image: url("/photos/pic-3.jpg");
    height: 520px; 
    width: 100%; 
	background-repeat: no-repeat;
	background-size: cover;
}
.front-home-Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-position: center;
}
.front-home-Div a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    color: red;
	transition-property: padding;
	transition-delay: 0.5ms;
	transition: 200ms ease;
}
.front-home-Div a:hover{
	background-color: #333;
	color: gold;
	padding: 25px;
}
.front-home-Div h1{
	font-family: cursive;
	font-size: 60px;
	color: whitesmoke;
}
.front-home-Div p{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	color: white;
}



 


#services {
    background-color: black;
	padding-bottom: 30px;
}
#services h2{
	padding-top: 50px;
}
.service {
    margin: 20px 0;
}

.service-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#services h2 {
    text-align: center;
    color: whitesmoke;
	font-family: 'Courier New', Courier, monospace;
}

.service h3 {
    color: red;
	font-family: cursive;
}

.service p {
    color: white;
}




.footer{
	background-color: #333;
}
.footer-container{
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	justify-content: space-evenly;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer .contact-us h2{
	font-size: 20px;
}
.footer .contact-us p{
	font-size: 14px;
	font-family: cursive;
}
.footer .contact-us a{
	text-decoration: none;
	color: crimson;
	font-family: cursive;
	padding-right: 32px;
}
.footer .contact-us a:hover{
	color: blue;
}
.footer .address p{
	font-family: cursive;
}






.footer-text{
	padding-top:15px;
	padding-bottom: 20px;
}
.footer-text p{
	background-color: black;
	color: white;
}